.place__website_link {
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-decoration-line: underline;
    text-underline-offset: 0.28em;
    color: white;
}

.place__website_link:hover {
    transition: color ease-out 0.2s;
    color: rgba(255, 255, 255, 0.8);
}