.place__website_link {
    padding: 0 0 32px 16px;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-decoration-line: underline;
    text-underline-offset: 0.28em;
    color: white;
}

.place__website_link:hover {
    transition: color ease-out 0.2s;
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 768px) {
    .place__website_link {
        padding: 0;
    }
}