.place__paragraphs {
    margin: 0 auto;
    padding: 0;
    max-width: 288px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}

@media screen and (min-width: 425px) {
    .place__paragraphs {
        min-width: 383px;
    }
}

@media screen and (min-width: 768px) {
    .place__paragraphs {
        margin: 0;
        min-width: 352px;
        gap: 26px;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraphs {
        min-width: 456px;
        gap: 27px;
    }
}

@media screen and (min-width: 1280px) {
    .place__paragraphs {
        min-width: 484px;
    }
}