.footer {
    margin: 64px auto 24px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

@media screen and (min-width: 425px) {
    .footer {
        max-width: 425px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding-left: 0px;
        margin-top: 88px;
        flex-direction: row;
        align-items: flex-end;
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        margin-top: 92px;
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        max-width: 1184px;
    }
}

